.upload-container {
    margin: 50px auto;
    width: 300px;
}
.upload-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 50px
}

.upload-title {
    text-align: center;
    color: #777;
}
