* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    background-color: white ;
    color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid blue;
    list-style-type: none;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;

}


#logo{
    width: 45%;
    height: 45%;
}

.active-link {
    border-bottom: 2px solid blue;

}

.active-link:hover {
    border-bottom: 5px solid blue;
}

@media screen and (min-width: 572px){
    /*body{*/
    /*    display: none;*/
    /*}*/

}

/*:root {*/
/*    --menu-bar-width: 60px;*/
/*    --menu-bar-height: 10px;*/
/*}*/